.material__btn {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 20px;
  height: 24px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
  padding: 0px !important;
  border: none !important;
  background-color: var(--page-color-white);
  color: rgba(135, 138, 142, 1);
  cursor: pointer;
  outline: 0 !important;
  margin: 20px 10px 0px 0px !important;
  white-space: nowrap;
  transition: color 0.3s ease;

  & svg path {
    transition: stroke 0.3s;
  }

  &:hover {
    background-color: var(--page-color-white);
    color: var(--page-color-blue);

    & svg path {
      stroke: var(--page-color-blue);
    }
  }

  &:active {
    background-color: var(--page-color-white);
    color: var(--page-color-black);

    & svg path {
      stroke: var(--page-color-black);
    }
  }
}

@media screen and (max-width: 440px) {
  .material__btn {
    display: block;
    border-radius: 5px;
    padding: 8px !important;
    border: 1px solid var(--page-color-dark-blue) !important;
    color: var(--page-color-dark-blue);
    background-color: var(--page-color-white);
    width: 100%;
    margin: 16px 0px 0px 0px !important;
    text-align: center;
    height: auto;
    transition: border-color 0.3s ease, background-color 0.3s ease;

    &:hover {
      background-color: var(--page-color-dark-blue);
      color: var(--page-color-white);
      border-color: var(--page-color-dark-blue);
    }

    &:active {
      background-color: rgba(26, 34, 44, 1);
      color: var(--page-color-white);
      border-color: var(--page-color-dark-blue);
    }

    & svg {
      display: none;
    }
  }
}
