.description {
  display: flex;
  flex-direction: column;
  flex-basis: 33.333333%;
  max-width: 33.333333%;
  gap: 30px;

  &__wrapper {
    border-radius: 5px;
    border: 1px solid var(--page-color-gray);

    & svg {
      width: 24px;
      height: 22px;

      & path,
      circle {
        stroke: var(--page-color-dark-gray);
      }
    }
  }

  &__title {
    padding: 10px;
    background-color: var(--page-color-gray);
    color: rgba(228, 25, 16, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid var(--page-color-gray);
  }

  &__text {
    padding: 10px 10px 20px 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: var(--page-color-black);
  }
}

.resource {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;

  &__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    width: 100%;

    & svg {
      flex-shrink: 0;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    color: rgba(135, 138, 142, 1);
  }

  &__btn {
    width: 109px;
    flex-shrink: 0;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 15.6px;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid var(--page-color-dark-blue);
    background-color: var(--page-color-white);
    color: var(--page-color-dark-blue);
    cursor: pointer;
    outline: 0 !important;
    margin: 0px;
    text-transform: uppercase;
    transition: border-color 0.3s ease, background-color 0.3s ease,
      color 0.3s ease;

    &:hover {
      border-color: var(--page-color-gray);
      background-color: var(--page-color-gray);
      color: var(--page-color-blue);
    }

    &:active {
      border-color: var(--page-color-gray);
      background-color: var(--page-color-gray);
      color: var(--page-color-black);
    }
  }
}

@media screen and (max-width: 767px) {
  .description {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .resource__wrapper {
    gap: 10px !important;
    flex-wrap: wrap;
  }
}
