.assessment {
  display: flex;
  gap: 20px;
  width: 100%;

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 100%;
    background-color: rgba(196, 196, 196, 1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 15px 30px;
    border: 1px solid var(--page-color-dark-blue);
    background-color: var(--page-color-white);
    color: var(--page-color-blue);
    cursor: pointer;
    outline: 0 !important;
    white-space: nowrap;
    min-width: 280px;
    height: 55px;
    transition: border-color 0.3s ease, color 0.3s ease,
      background-color 0.3s ease;

    &:hover {
      background-color: var(--page-color-dark-blue);
      color: var(--page-color-white);
      border-color: var(--page-color-dark-blue);
    }

    &:active {
      background-color: rgba(26, 34, 44, 1);
      color: var(--page-color-white);
      border-color: var(--page-color-dark-blue);
    }
  }

  &__status {
    font-weight: 700;
    font-size: 20px;
    color: rgba(28, 34, 51, 1);
    margin-bottom: 20px;
    text-transform: uppercase;

    &--failed {
      color: rgb(228, 25, 16);
    }
  }

  &__date {
    margin-bottom: 20px;
  }

  &__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.7);
  }

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border: 6px solid var(--page-color-dark-blue);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// @media screen and (max-width: 767px) {
//   .slider-item-test {
//     flex-direction: column;
//     gap: 0px;

//     &__content {
//       max-width: 100%;
//       flex-basis: 100%;
//     }

//     &__container {
//       border-radius: 10px;
//     }

//     &__date {
//       margin-bottom: 16px;
//     }
//   }

//   .slider-item-test__header {
//     padding: 0px 0px 10px 0px;
//     border: none;
//   }

//   .slider-item-test__description {
//     flex-basis: 100%;
//     max-width: 100%;
//   }
// }

// @media screen and (max-width: 576px) {
//   .slider-item-test__header {
//     flex-direction: column;
//     align-items: flex-start;
//   }

//   .slider-item-test__button {
//     min-width: 180px;
//     max-width: 80%;
//     width: 100%;
//   }
// }
