.header {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--page-color-gray);
  margin-top: 12px;

  &__wrapper {
    padding-top: 44px;
  }

  & h1 {
    margin: 0px !important;
    font-size: 64px;
    font-weight: 400;
    line-height: 77.78px;
    color: var(--page-color-red);
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  & h2 {
    margin: 0px !important;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.17px;
    color: var(--page-color-blue);
    text-transform: uppercase;
  }

  &__navigation {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
    flex-wrap: nowrap;
    margin-top: 30px;
  }

  &__home {
    cursor: pointer;

    & path {
      transition: fill 0.3s;
    }

    &:hover path {
      fill: var(--page-color-red);
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--page-color-blue);
  }

  &__img {
    max-width: 333px;
    height: 181px;
    width: 100%;

    & img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  .header__wrapper {
    padding-top: 8px;

    & h1 {
      font-size: 36px;
      line-height: 40px;
      letter-spacing: 0px;
      padding-bottom: 4px;
    }

    & h2 {
      font-size: 18px;
      line-height: 18px;
    }
  }

  .header__img {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .header__wrapper {
    padding-top: 4px;

    & h1 {
      font-size: 24px;
      line-height: 28.8px;
      letter-spacing: 0px;
    }

    & h2 {
      font-size: 13px;
      line-height: 15.8px;
    }
  }

  .header__navigation {
    margin-top: 16px;

    & svg {
      width: 16px;
      height: 16px;
    }
  }

  .header__text {
    font-size: 12px;
  }
}
