@font-face {
  font-family: Verdana;
  src: url('fonts/Verdana.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Verdana;
  src: url('fonts/Verdana-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --course-text-red: rgba(180, 8, 102, 1);
  --course-text-black: rgba(26, 34, 44, 1);
  --course-text-black-gray: rgba(135, 138, 142, 1);
  --course-text-gray: rgba(208, 212, 217, 1);
  --course-light-red: rgba(223, 10, 107, 1);
  --course-color-white: rgba(255, 255, 255, 1);
  --course-text-ligth-gray: rgba(208, 212, 217, 1);
  --course-text-dark-gray: rgba(141, 142, 145, 1);
  --page-max-width-layout: 1440px;
  --page-max-width-main: 1240px;
}

#content.page-content {
  width: 100% !important;
  display: block;
  padding: 0;
}

#root-personnel-selection {
  font-family: 'Verdana' !important;
  font-size: 16px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root-personnel-selection .title-red {
  color: var(--course-text-red);
}

#root-personnel-selection .title-gray {
  color: var(--course-text-black-gray);
}

#wt-container > footer {
  display: none;
}

#wt-container > .page-content {
  padding-bottom: 0px !important;
}
